.allbtn {
    margin-top: 10px !important;
    margin-left: 5px !important;
    width: 250px !important;
}
.search-biz input {
    width: 250px !important;
}

.biztype {
    color: #4169E1 !important;
    background-color: #F0F8FF !important;
}

.docbtn {
	margin-left: 5px !important;
	width: 250px !important;
}

.nav-item-divider {
	border-top: 1px solid #ccc !important;
	margin: 8px 0 !important;
}

.pagetitle {
	margin-top: 8px !important;
}

table.total {
	background-color: #f6f9ff !important;
}

.tabletop {
	background-color: #F5F5F5 !important;
}

.modal { 
	--bs-modal-width: 750px !important;
}

#request.btn { 
--bs-btn-line-height: 1 !important;
}

.half {
	flex: 0 0 auto !important;
	width: 33.333333% !important;
}

.fade:not(.show) {
    display: none !important;
}