

.bi-search2{
font-size: 30px;
vertical-align: -0.9em;
}



.allbtn2 {
  margin-top: 10px;
  width: 30%;
  height: 50px;
}

.search-biz2 input {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: -5px;
  width: 97%;
  height: 50px;
}


